#Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #27292c;
    color: #fff;
}

.footer-container span {
    color: cornflowerblue;
    cursor: pointer;
}

.footer-container span:hover {
    color: #ecdd62;
}

@media (max-width: 850px) and (min-width: 750px) {
    #Footer {
        font-size: 15px;
        height: 68px;
    }
}

@media (max-width: 749px) and (min-width: 650px) {
    #Footer {
        font-size: 15px;
        height: 68px;
    }
}

@media (max-width: 649px) and (min-width: 550px) {
    #Footer {
        font-size: 15px;
        height: 68px;
    }
}

@media (max-width: 549px) and (min-width: 450px) {
    #Footer {
        font-size: 15px;
        height: 68px;
    }
}

@media (max-width: 449px) {
    #Footer {
        font-size: 15px;
        height: 68px;
    }
}

