#BlogPost {
    background-color: #e0e0df;
    background-image: url("../../images/absurdity.png");
    letter-spacing: 2px;
}

.blogpost-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blogpost-container-left-column {
    width: 66%;
}

.blogpost-post-container {
    padding-bottom: 50px;
}

.blogpost-post-image {
    height: 390px;
    overflow: hidden;
}

.blogpost-post-image img {
    width: 100%;
}

.blogpost-post-text {
    font-weight: 600;
    padding: 20px 0 20px 0;
    line-height: 24px;
}

.blogpost-post-text h5 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    font-weight: 100;
    padding-bottom: 20px;
}

.blogpost-comments-container {
    word-break: break-word;
}

.blogpost-comments-quantity-container h5 {
    font-family: 'PT Serif', serif;
    font-size: 56px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 35px;
}

/*  Poniżej znajdują się style do komentarzy postów */



.blogpost-comment-name-and-text-wrapper {
    padding-top: 15px;
}

.blogpost-comment-name {
    display: flex;
    margin-bottom: 25px;
}

.blogpost-comment-name img {
    height: 60px;
    margin-right: 7px;
}

.blogpost-comment-name p {
    text-transform: uppercase;
    font-weight: bold;
}

.blogpost-comment-text {
    margin-bottom: 25px;
}

.blogpost-comment-date-and-button-wrapper, .blogpost-comment-date-wrapper {
    display: flex;
    justify-content: flex-end;
}

.blogpost-comment-date {
    padding: 15px;
}

.blogpost-add-comment-form-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-comment-form-button {
    background-color: #302e33;
    color: #e0e0df;
    text-transform: uppercase;
    width: 157px;
    padding: 8px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.add-comment-form-button:hover {
    background-color: #ecdd62;
    color: black;
}

.blogpost-comment-date-and-button-wrapper {
    border-bottom: 1px solid #cdcdcc;
    padding: 15px;
}

.blogpost-comments-answer-container {
    padding-left: 35px;
}

.blogpost-comments-answer-wrapper {
    border-bottom: 1px solid #cdcdcc;
}

.blogpost-add-comments-answer-form-container {
    font-size: 27px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-comment-form input, .add-comment-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: bold;
    resize: vertical;
}






.blogpost-container-right-column {
    width: 32%;
}