#About {
    display: flex;
    justify-content: center;
    background-color: #e0e0df;
    background-image: url("../../images/absurdity.png");
}

.about-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-image {
    background-image: url("../../images/about_image.png");
    background-size: cover;
    width: 241%;
    height: 440px;
}

.about-text-container {
    display: flex;
    align-self: center;
    padding-left: 138px;
}

.about-title {
    font-family: 'PT Serif', serif;
    font-size: 56px;
    font-weight: 100;
    margin-bottom: 26px;
}

.about-text {
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 22px;
}

@media (max-width: 449px) {
    .about-container {
        padding-top: 50px;
        display: block;

    }

    .about-image {
        width: 95%;
        height: 256px;
        background-position-y: -80px;
        margin: 0 auto;
    }

    .about-text-container {
        padding-top: 10px;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .about-title {
        font-size: 34px;
        margin-bottom: 10px;
    }
}